<!DOCTYPE html>
<html lang="pt-br">

<head>
    <style>
        #app {
            text-align: left;
        }

        img {
            width: 30%;
            margin: auto;
            display: block;
            margin-bottom: 10px;
        }

        .select {
            width: 100%;
        }

        form {
            margin-top: 0%
        }
    </style>

    <%- include('../partials/head'); %>

        <script src="//unpkg.com/vue/dist/vue.js"></script>
        <script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>

</head>

<body class="container">

    <div id="app">

        <%- include('../partials/navBar'); %>

            <el-card class="box-card" style="margin-top:3vh;">
                <div slot="header" class="clearfix">
                    <span>Cadastro de Cancelamento</span>
                </div>

                <el-form id="form" :model="form" method="POST" action="/cliente/">
                    <el-form-item label="Razão Social">
                        <el-input v-model="form.razao"></el-input>
                    </el-form-item>
                    <el-form-item label="Nome Fantasia">
                        <el-input v-model="form.fantasia" autocomplete="off"></el-input>
                    </el-form-item>

                    <el-row :gutter="20">
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-form-item label="contador">
                                    <el-input v-model="form.contador" autocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-form-item label="Telefone">
                                    <el-input v-model="form.telefone" autocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-form-item label="Email">
                                    <el-input v-model="form.email" autocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>

                    </el-row>

                    <el-row :gutter="20">
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-form-item label="Licença">
                                    <el-input v-model="form.licenca" tocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-form-item label="Mensalidade">
                                    <el-input v-model="form.mensalidade" autocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-form-item label="Dia">
                                    <el-input v-model="form.dia" autocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>

                    <el-row :gutter="20">
                        <el-col :span="4">
                            <div class="grid-content bg-purple">
                                <el-form-item label="UF">
                                    <el-input v-model="form.uf" autocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="8">
                            <div class="grid-content bg-purple">
                                <el-form-item label="Endereço">
                                    <el-input v-model="form.endereco" tocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <el-form-item label="Bairro">
                                    <el-input v-model="form.bairro" autocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                        <el-col :span="6">
                            <div class="grid-content bg-purple">
                                <el-form-item label="Cidade">
                                    <el-input v-model="form.cidade" autocomplete="off"></el-input>
                                </el-form-item>
                            </div>
                        </el-col>
                    </el-row>
                    <el-form-item label="Comentarios">
                        <el-input type="textarea" autosize placeholder="Comentarios sobre o cliente"
                            v-model="form.comentario">
                        </el-input>
                    </el-form-item>
                    <el-form-item>
                        <el-button type="primary" @click="onTeste(form)">Cadastrar</el-button>
                    </el-form-item>
                    <br>
                </el-form>

            </el-card>

    </div>

</body>

<script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>

<%- include('../partials/footer'); %>
    <script src="//unpkg.com/vue/dist/vue.js"></script>
    <script src="//unpkg.com/element-ui@2.15.3/lib/index.js"></script>
    <script>
        new Vue({
            el: '#app',
            methods: {
                editar(form, tableData, cliente) {
                    form.id = tableData.id;
                    form.bairro = tableData.bairro;
                    form.cidade = tableData.cidade;
                    form.comentario = tableData.comentario;
                    form.contador = tableData.contador;
                    form.dia = tableData.dia;
                    form.email = tableData.email;
                    form.endereco = tableData.endereco;
                    form.fantasia = tableData.fantasia;
                    form.licenca = tableData.licenca;
                    form.mensalidade = tableData.mensalidade;
                    form.razao = tableData.razao;
                    form.telefone = tableData.telefone;
                    form.uf = tableData.uf;
                    form.teste = tableData.teste;
                    form.vendedor = tableData.vendedor;

                    console.log(form);
                    console.log(tableData);
                },
                enviar(nome, email, senha, funcao) {
                    console.log(nome);
                },
                onTeste(form) {
                    let url =
                        "/clienteCancelado/" + form.razao + "/" + form.fantasia + "/" + form.uf + "/" + form.contador + "/" + form.endereco
                        + "/" + form.bairro + "/" + form.cidade + "/" + form.mensalidade + "/" + form.dia + "/" + form.licenca
                        + "/" + form.telefone + "/" + form.email + "/" + 0+ "/" + 0 + "/" + form.comentario;

                    console.log(url);

                    fetch(url).then(
                        function (resp) {
                            resp.json().then(function (jsonQ) {
                                console.log(url);
                                console.log(jsonQ.json);

                                if (jsonQ.json == "Enviado") {
                                    window.location.reload();
                                }

                            });
                        });

                },
                onSubmit(form) {

                    let url = "/usuario/" + form.nome + "/" + form.email + "/" + form.senha + "/" + form.funcao;

                    console.log(url);

                    fetch(url).then(
                        function (resp) {
                            resp.json().then(function (jsonQ) {
                                console.log(url);
                                console.log(jsonQ.json);

                                if (jsonQ.json == "Enviado") {
                                    window.location.reload();
                                }

                            });
                        });
                }
            },
            data: {
                search: '',
                dialogFormVisible: true,
                modalView: false,
                cliente: 0,
                index: 0,
                tamanho: <%= clientes.length %>,
                form: {
                    razao: '',
                    fantasia: '',
                    telefone: '',
                    email: '',
                    licenca: '',
                    mensalidade: '',
                    dia: '',
                    uf: '',
                    endereco: '',
                    bairro: '',
                    cidade: '',
                    comentario: '',
                    teste: '',
                    vendedor: '',
                    contador: '',
                },
                options: [{
                    value: 'financeiro',
                    label: 'Financeiro'
                }, {
                    value: 'diretor',
                    label: 'Diretores'
                }, {
                    value: 'consultor',
                    label: 'Consultores'
                }, {
                    value: 'suporte ',
                    label: 'Suporte '
                }],

                teste: [[],<%for(let a = 0; a<clientes.length / 20 + 1; a++){%> [
                                <%//for (let b = a * 20; b < (a + 1) * 20; b++) {%>
                                    <%for (let b = a * 20; b < (1 == 1 ? (a + 1) * 20 : 375); b++) {%>
                {
                    index: <%=a%> +1, id: "<%=clientes[a].id %>", razao: "<%=clientes[a].razao_social %>", fantasia: "<%=clientes[a].fantasia %>",
                        uf: "<%=clientes[a].uf %>", contador: "<%=clientes[a].contador %>", endereco: "<%=clientes[a].endereco %>",
                            bairro: "<%=clientes[a].bairro %>", cidade: "<%=clientes[a].cidade %>", mensalidade: "<%=clientes[a].mensalidade %>",
                                dia: "<%=clientes[a].dia %>", licenca: "<%=clientes[a].licenca %>", telefone: "<%=clientes[a].telefone %>",
                                    email: "<%=clientes[a].email %>", vendedor: "<%=clientes[a].vendedor %>", teste: "<%=clientes[a].teste %>", comentario: "<%=clientes[a].comentario %>", 
                                    },
                                <% }%>],
                            <% }%>],


        tableData: [[],<%for (let b = 0; b < clientes.length / 20; b++) {%> [
                                <%//for (let a = b * 20; a < (b + 1) * 20; a++) {%>
                                    <%for (let a = b * 20; a < (((b + 1) * 20) < clientes.length ? ((b + 1) * 20) : clientes.length); a++) {%>
                {
                    index: <%=a%> +1, id: "<%=clientes[a].id %>", razao: "<%=clientes[a].razao_social %>", fantasia: "<%=clientes[a].fantasia %>",
                        uf: "<%=clientes[a].uf %>", contador: "<%=clientes[a].contador %>", endereco: "<%=clientes[a].endereco %>",
                            bairro: "<%=clientes[a].bairro %>", cidade: "<%=clientes[a].cidade %>", mensalidade: "<%=clientes[a].mensalidade %>",
                                dia: "<%=clientes[a].dia %>", licenca: "<%=clientes[a].licenca %>", telefone: "<%=clientes[a].telefone %>",
                                    email: "<%=clientes[a].email %>", vendedor: "<%=clientes[a].vendedor %>", teste: "<%=clientes[a].teste %>", comentario: "<%=clientes[a].comentario %>",
                            },
                                <% }%>],
                            <% }%>],
            /*tableData: [<% clientes.forEach(function (file, index) {%>
                {
                    index: <%= index %> , id: '<%=file.id %>', razao: '<%=file.razao_social %>', fantasia: '<%=file.fantasia %>', contador: '<%=file.contador %>',
                        uf: '<%=file.uf %>', endereco: '<%=file.endereco %>', cidade: '<%=file.cidade %>', bairro: '<%=file.bairro %>',
                            mensalidade: '<%=file.mensalidade%>', dia: ' <%=file.dia %> ', licenca: ' <%=file.licenca %> ', telefone: '<%=file.telefone %>',
                                email: '<%=file.email%>', vendedor: ' <%=file.vendedor %> ', comentario: ' <%=file.comentario %> '
            },
                <% });%>],*/
        },

        })
    </script>

</html>